@require './vendor/vuetify.styl'

.page-enter-active, .page-leave-active
  transition: all 1s

.page-enter
  opacity: 0
  transform: translateX(30px)

.page-leave-active
  opacity: 0
  transform: translateY(30px)

.list-enter-active
  transition: all 1s

.list-enter
  opacity: 0
  transform: translateX(30px)
  transition transform 1s

.list-leave-to
  opacity: 0
  transform: translateY(30px)
  transition transform 1s

.list-move
  transition: transform 1s

.list-leave-active
  transition: all 1s
  position: absolute

.dragable
  -webkit-app-region: drag

.non-dragable
  -webkit-app-region: no-drag

.toolbar__content
  max-height: 48px

.expansion-panel__body:last-child
  border-bottom: 0 !important

#title a.list__tile
  height: 60px

div.tabs__items
  border-width: 0
  border-style: none