body
{
    width: 100%;
    height: 100%;
    background: center center fixed;
    background-image: url('../../resources/formBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#container
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
}

#form-container
{
    text-align: center;
    margin-top: 45vh;
    transform: translateY(-50%);
    color: #000036;
}

#buttons-container
{
    display: inline;
}

#info-buttons-container
{
    position: absolute;
    display: inline;
    width: 100%;
    bottom: 8%;
}

#info-buttons-container button
{
    display: inline;
}

#info-download
{
    margin-left: 25%;
}

#info-back
{
    margin-left: 3.5%;
}

#info-to-search
{
    margin-left: 25%;
}

#info
{
    margin-left: 2%;
}

#back
{
    margin-right: 2%;
}

.form-fade-enter-active, .form-fade-leave-active {
    transition: opacity 3.2s ease;
}
.form-fade-enter, .form-fade-leave-active {
    opacity: 0;
}

#right-container
{
    position: static;
    margin-left: 80%;
    height: 100%;
    width: 20%
}

#mark-displayer
{
    margin-top: 5%;
    margin-left: 2%;
    width: 15%;
    height: 22.5%;
    position: absolute;
    font-size: 7rem;
}

#info-displayer
{
    position: absolute;
    margin-top: 25%;
    padding: 3% 1.5% 3% 2.5%;
    background-color: rgba(255, 255, 255, 0.7);
}

#info-displayer h6
{
    margin-top: 0;
    margin-bottom: 2%;
}

#info-displayer ul
{
    padding-left: 5px;
}

#info-displayer span
{
    font-weight: bold;
    float: right;
}

#middle-container
{
    width: 60%;
    position: absolute;
    height: 100%;
    margin-top: 1%;
    margin-left: 20%;
}

#middle-container h6
{
    margin: 0 0 0 2%;
}

#middle-title
{
    text-align: center;
    width: 100%;
}

#middle-title h3
{
    margin-bottom: 2%;
}

#synopsis
{
    margin-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    color: rgba(0,0,0,.54);
}

#synopsis pre
{
    line-height: 130%;
    text-align: justify;
    text-indent: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    padding: 3% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.7);
}

#character-grid
{
    margin-left: 2%;
    display: inline-flex;
    width: 100%;
}

.character
{

    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 2.6%;
    padding: 10px 10px 10px 10px;
    width: 18%;
}

.seiyuu
{
    line-height: 130%;
    font-weight: bold;
}

.actor-name
{
    float: right;
}

.chara-stat
{
    line-height: 120%;
}

.chara-name
{
    text-align: right;
}

.lang
{
    float: left;
}

.role
{
    float: right;
}


#left-container
{
    margin-top: 2%;
    width: 18%;
    height: 45%;
    position: absolute;
}

#image
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 99%;
    width: 99%;
    margin-top: 1%;
    position: relative;
}

#anime-title
{
    height: 10%;
    width: 100%;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    color: rgba(50, 50, 50, 0.9);
}

#anime-title span
{
    margin-left: 5%;
    font-weight: bold;
}

#jap-title
{
    font-weight: normal;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 3% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.7);
}

#jap-title span
{
    font-weight: bold;
}

#genres
{
    padding: 3% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.7);
}

#genres h6
{
    margin: 0;
    font-weight: bold;
}

#genres ul
{
    margin-top: 0;
}

#studio
{
    padding: 3% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.7);
}

#studio h6
{
    margin: 0;
    font-weight: bold;
}

#studio ul
{
    margin-top: 0;
}