{
  "exclude": [
    "test",
    "**/node_modules/**",
    "app/api/mal/index.js",
    "app/api/mal/official.js",
    "app/api/openExternal",
    "app/api/utils",
    "app/api/env",
    "app/api/video"
  ],
  "watermarks": {
    "lines": [
      80,
      95
    ],
    "functions": [
      80,
      95
    ],
    "branches": [
      80,
      95
    ],
    "statements": [
      80,
      95
    ]
  }
}
