{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    "add-filehash",
    ["transform-imports", {
        "vuetify": {
            "transform": "vuetify/es5/components/${member}",
            "preventFullImport": true
        }
    }],
    "transform-runtime"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul", "syntax-dynamic-import"]
    }
  }
}
