# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Mac OS
.DS_Store

# Idea directory
.idea

# build
KawAnime*
dist/win-ia32-unpacked
dist/mac
dist/github
dist/linux-unpacked
dist/latest.yml
