# dependencies
node_modules
package-lock.json

# logs
npm-debug.log

# Nuxt webpack
.nuxt

# Mac OS
.DS_Store

# Idea directory
.idea

# webpack
KawAnime*
dist/win-ia32-unpacked
dist/mac
dist/github
dist/linux-unpacked
dist/latest.yml
public

# tests
.nyc_output
reports
selenium-debug.log
coverage.lcov
/coverage/
screenshots
