!.gitkeep

# dependencies
node_modules

# logs
npm-debug.log

# Mac OS
.DS_Store

# Idea directory
.idea

# vscode directory
.vscode

#dist
dist/*

# webpack
public

# tests
.nyc_output
reports
selenium-debug.log
coverage.lcov
/coverage/
screenshots
!test/cypress
cypress
test/cypress/videos
