<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>KawAnime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-deep_purple.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="app/style.css">
    <script src="./node_modules/material-design-lite/material.min.js"></script>
  </head>
  <body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <div id="container">
      <div v-if="show" id="title">
        <h3>{{ Title }}</h3>
      </div>

      <div id="buttons-container">
        <div id="downloader-button">
          <button v-bind:class="activeStyle" v-on:click="open()">{{ message }}</button>
        </div>

        <div id="torrent-button">
          <button v-bind:class="activeStyle" v-on:click="open()">{{ message }}</button>
        </div>

        <div id="get-info-button">
          <button v-bind:class="activeStyle" v-on:click="open()">{{ message }}</button>
        </div>
      </div>

      <div id="bottom-container" v-if="show">

        <div id="greetings" v-bind:title="title">
          <h5>{{ Greetings }}</h5>
        </div>

        <div id="grid">
          <elem0></elem0>
          <elem1></elem1>
          <elem2></elem2>
          <elem3></elem3>
          <elem4></elem4>
          <elem5></elem5>
          <elem6></elem6>
          <elem7></elem7>
        </div>

      </div>

    </div>
  </body>

  <script>
    require('./renderer.js')
  </script>
</html>
