// Custom rules which will be applied globally, allows overriding

html
  overflow hidden !important

body
  user-select none

main
    overflow-y scroll
    overflow-x hidden
    height calc(100vh - (48px + 24px))

html
  overflow hidden

h3
  font-size 42px
  font-weight 500

h4
  font-size 36px
  font-weight 400

h5
  font-size 24px
  font-weight 400
  letter-spacing .02em

h6
  font-size 20px
  font-weight 500
  letter-spacing .02em

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.jap
    font-family 'Hiragino Mincho Pro', 'MS PMincho', serif !important

.not-selectable
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.provider-icon
  margin 2px 0 0 2px
  height 24px
  width 24px
  display block
  background-size contain

.mal-icon
  background-image url('./assets/images/mal.png')

.kitsu-icon
  background-image url('./assets/images/kitsu.svg')

.anilist-icon
  background-image url('./assets/images/anilist.svg')


// VUETIFY OVERRIDDING

// This is for radio groupd to take up all the available space
.quality-container .v-input__control
  width 100% !important

.v-input--radio-group__input
  justify-content space-between

#info-actions > .v-btn__content
  height 20px

.theme--dark.v-tabs-items
  background-color #303030 !important