// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start

// Subtitle font
@import './open-sans'

// Custom
@import './electron'
@import './transitions'
@import './scrollbar'
@import './global'
