// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start

// Material icons/font
@import './material-icons'
@import './open-sans'

// Vuetify
@import '../../node_modules/vuetify/src/stylus/app'

// Custom
@import './electron'
@import './transitions'
@import './scrollbar'
@import './global'
