::-webkit-scrollbar
  width 8px

::-webkit-scrollbar-thumb
  background-clip padding-box
  border-radius 6px
  background-color rgb(32, 32, 32)
  border-color transparent

::-webkit-scrollbar-track-piece
  background-clip: padding-box
  border-radius 6px
  background-color rgba(255, 255, 255, 0.3)
  border-color transparent

