// Custom rules which will be applied globally, allows overriding

html
  overflow hidden

// VDataTable
table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child
  padding 0 !important

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.fill-height
  min-height calc(100vh - (48px + 24px)) !important

.navigation-drawer .list__tile
  font-size 14px

.toolbar__content
  max-height 48px

div.dialog--fullscreen
  margin 24px 0 0

#title a.list__tile
  height 60px

.application--dark a
  color #ff9800

div.tabs__items
  border-width 0
  border-style none

.not-selectable
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.column:focus
  outline none
