// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start



// @import '../../node_modules/vuetify/src/stylus/main'
@import './theme'
@import '../../node_modules/vuetify/src/stylus/app'

/**
  Transitions
 */
.page-enter-active, .page-leave-active
  transition all 0.5s

.page-enter
  opacity 0
  transform translateY(30px)

.page-leave-active
  opacity 0
  transform translateY(30px)

.list-enter-active
  transition all 1s

.list-enter
  opacity 0
  transform translateX(30px)
  transition transform 1s

.list-leave-to
  opacity 0
  transform translateY(30px)
  transition transform 1s

.list-move
  transition transform 0.75s

.list-leave-active
  transition all 1s
  position absolute

.config-enter-active
  animation zoomIn 0.2s

.config-leave-active
  animation lightSpeedOut 0.3s

/**
  Electron
 */
.dragable
  -webkit-app-region drag

.non-dragable
  -webkit-app-region no-drag

/**
  Custom rules which will be applied globally, allows overriding
 */
.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.fill-height
  min-height calc(100vh - (48px + 24px)) !important

.navigation-drawer .list__tile
  font-size 14px

.toolbar__content
  max-height 48px

div.dialog--fullscreen
  margin 24px 0 0

#title a.list__tile
  height 60px

div.tabs__items
  border-width 0
  border-style none
