body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

/* If the user has no internet connection */
#not-online
{
    display: none;
    text-align: center;
}

#not-online h1
{
    margin-top: 30%;
}
/* --------------------------------------- */

#container
{
    width: 100%;
    height: 100%;
    margin: 0;
}

.mdl-layout__drawer
{
    background-image: url('../resources/leftBackground.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

#releases
{
    background-image: url('../resources/indexBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.elem
{
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.elem h6
{
    margin: 2% 1.5% 2% 3.5%;
    white-space: nowrap;
}

.picture
{
    width: 40%;
    float: left;
}

.text-container
{
    height: 100%;
    width: 60%;
    margin-left: 45%;
    position: relative;
}

.synopsis
{
    height: 80%;
    padding: 15px 15px 15px 15px;
    color: rgba(0, 0, 0, 0.74);
    word-wrap: break-word;
    font-size: small;
}

.synopsis p
{
    line-height: 130%;
}

.links
{
    border-top: solid 1px rgba(0, 0, 0, 0.07);
    height: 18%;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

.links a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}

.link-download
{
    float: left;
    font-size: x-small;
}

.link-more
{
    float: right;
    font-size: x-small;
}

/* --------------- LOADER ---------------- */
#loader-container
{
    width: 100%;
    height: 100%;
    text-align: center;
}

#loader-container h3
{
    margin-top: 12%;
    font-family: "YuMincho +36p Kana", sans-serif;
}

.loader-gif
{
    position: absolute;
    bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    content: url('https://media.giphy.com/media/pt0EKLDJmVvlS/giphy.gif');
}

/* ----------------- INFOS ----------------- */
#info-container
{
    width: 100%;
    height: 100%;
    display: none;
}

#info-container .mdl-grid
{
    padding-top: 0;
    padding-left: 0;
}

#info-picture
{
    margin-left: 0;
    margin-top: 0;
}

#info-title
{
    text-align: center;
}

#info-title h5
{
    margin: 2% 0 0 0;
}

#synopsis-container
{
    display: flex;
    align-items: center;
    height: 100%;
}

#synopsis-container pre
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 0;
    line-height: 130%;
    text-align: justify;
    text-indent: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    padding: 3% 3% 3% 3%;
    background-color: rgba(255, 255, 255, 0.7);
}