.page-enter-active, .page-leave-active
{
    transition: opacity .5s;
}

.page-enter, .page-leave-active
{
    opacity: 0;
}

.dragable
{
    -webkit-app-region: drag;
}

.non-dragable
{
    -webkit-app-region: no-drag;
}

.config-modal .modal
{
    max-height: 738px;
}