<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KawAnime - Downloader</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-red.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../../node_modules/material-design-lite/material.min.js"></script>
</head>
<body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <div class="container">
        <div id="footer-back"></div>

        <div id="form" class="content-grid mdl-grid mdl-layout-spacer">
            <div @keydown.enter="next()" id="name-button" class="mdl-cell item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="form mdl-textfield__input" type="text" id="anime-name"
                           autofocus v-model="anime">
                    <label class="placeholder mdl-textfield__label" for="anime-name">
                        <a class="input-placeholder">
                            {{ message }}
                        </a>
                    </label>
                </div>
            </div>
            <div @keydown.enter="next()" @keydown.delete="previous()" id="from-ep-button" class="mdl-cell item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="form mdl-textfield__input" type="text" id="anime-start" v-model="ep">
                    <label class="placeholder mdl-textfield__label" for="anime-start">
                        <a class="input-placeholder">
                            {{ message }}
                        </a>
                    </label>
                </div>
            </div>
            <div @keydown.enter="download()" @keydown.delete="previous()" id="until-ep-button" class="mdl-cell item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="form mdl-textfield__input" type="text" id="anime-end" v-model="ep">
                    <label class="placeholder mdl-textfield__label" for="anime-end">
                        <a class="input-placeholder">
                            {{ message }}
                        </a>
                    </label>
                </div>
            </div>
        </div>
        <div id="button-container">
            <button v-on:click="download()" id="download-button"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                {{ msg }}
            </button>
        </div>
    </div>

    <script>
        require('./downloader.js')
    </script>
</body>
</html>